@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #333;

    // Defaut layout
    --default-layout-header-height: 60px;
    --default-layout-width: 950px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text);
}

//Default style
button,
input,
[tabindex] {
    outline: none;
    border: none;
}

//Default style with a[href], without blue text
a[href] {
    color: var(--text);
    text-decoration: none; //without underline
}
