.wrapper {
    --search-border-radious: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%; //inher 100% size from perent
    width: var(--default-layout-width, 1150px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    height: var(--search-height);
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    display: flex;
    border-radius: var(--search-border-radious);

    input {
        flex: 1;
        height: 100%;
        font-size: 1.6rem;
        border: none;
        color: var(--black);
        caret-color: var(--primary);
        background-color: transparent;
    }

    // Search-button with got color when input any text
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: 50px;
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    right: var(--search-width);
    top: 50%;
    right: calc(var(--search-width) + 16px);
    transform: translateY(-50%); //justify-bettween
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: 50px;
    height: 100%;
    border-top-right-radius: var(--search-border-radious);
    border-bottom-right-radius: var(--search-border-radious);
    cursor: pointer;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.action {
}
